@import "base/base";
@import "utils/variables";
@import "utils/functions";
@import "utils/common";

#container {
  width: 50%;
  padding: 20px 20px 10px;
  background-color: $container-background;
  border-radius: 10px;
  position: relative;
  @include set-box-shadow-below($container-background);

  @import "components/top-section";

  @import "components/mid-section";

  @import "components/bottom-section";
}

#gameOver {
  height: 50%;
  width: 50%;
  background: $game-over-background;
  color: #fff;
  font-size: 2.5em;
  @extend %center;
  flex-direction: column;
  gap: 50px;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  display: none;
}
