$container-background: #9dd2ea;
$score-background: #f1ff92;
$score-color: #888e5f;
$msg-correct: #42e252;
$msg-wrong: #de401a;
$question-background: #9da0ea;
$instruction-background: #b481d9;
$box-hover-background: #9c89f6;
$time-remaining-background: rgba(181, 235, 36, 0.8);
$game-over-background: linear-gradient(#f3ca6b, #f3706c);
